#map {
    height: 90vh;
    width: 100%;
    //    filter: grayscale(80%) brightness(90%);
}

.leaflet-popup-content-wrapper {
    background: #222;
    color: #fff;
}

.leaflet-popup-tip {
    background: #222;
}

.map-shell {
    position: relative;
    height: 100%;
    min-height: 400px;
}


.search-bar {
    position: absolute;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    display: flex;
    gap: 8px;
    background: rgba(255, 255, 255, 0.95);
    padding: 6px 8px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    align-items: center;
}


.search-bar input {
    width: 320px;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
}


.search-bar button {
    padding: 8px 12px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}



html, body {
  height: 100%;
  margin: 0;
}

.sidebar-container {
  height: 100vh;             /* Sidebar height = full viewport */
  overflow-y: auto;          /* Enable vertical scroll if needed */
  display: flex;
  flex-direction: column;
}

.map-container {
  height: calc(100vh - 150px); /* Adjust map height as needed */
  width: 100%;
}
